html,
body {
  background-color: #090e16;
}

a {
  color: inherit;
  text-decoration: none;
}

.items {
  min-height: 40rem;
  min-width: 30rem;
  padding: 40px;
}

.items img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel1 {
  display: flex;
  background-color: lightblue;
}

.carousel1 {
  cursor: grab;
  overflow: hidden;
  background-color: red;
}
